<div class="row mt-3 ">
    <div class="col-md-6 margin-left-header">
        <div class="input-group flex-nowrap ">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            <span class="input-group-text " id="addon-wrapping"><i class="fas fa-search"></i></span>
          </div>
    </div>

    <div class="col-md-6">
        <div class="mt-0">
            <div class="col-md-6 text-right">
                <span> Bonjour Fares</span>
            </div>

            <div class="col-md-6">
                <img src="favicon.ico" class="rounded-circle"/>
            </div>
        </div>
    </div>
</div>